
body {
  background: url('../img/background.jpg') repeat;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

p {
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
  font-size: 1.3rem;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #f29200;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
  line-height: 1;
}

h1 span {
  font-family: 'Dancing Script', cursive;
  text-transform: none;
}

.meta-info {
  padding: 10px 0;
  text-align: center;
}

.outer-wrapper {
  margin: 20px;
  background-color: #2f358b;
  min-height: 800px;
  border-radius: 5px;
}

header, main {
  text-align: center;
}

header {
  padding-top: 30px;
}

header p {
  padding: 20px 0;
}

main {
  padding: 20px 0;
}

.start {
  border: 1px solid #f29200;
  color: #f29200;
  background-color: transparent;
  font-size: 30px !important;
  border-radius: 5px;
}

.question {
  padding-bottom: 20px;
  font-size: 2rem;
  color: #f29200;
}

label {
  color: white;
  font-size: 20px;
}

.start:focus, .start:hover {
  background-color: #f29200;
  color: #2f358b;
}

.submit,
.next {
  border: 1px solid #f29200;
  color: #f29200;
  background-color: transparent;
  font-size: 30px !important;
  border-radius: 5px;
}

.submit:focus,
.submit:hover,
.next:focus,
.next:hover {
  background-color: #f29200;
  color: #2f358b;
}

.button.disabled,
.button.disabled:focus,
.button.disabled:hover,
.button[disabled],
.button[disabled]:focus,
.button[disabled]:hover {
  background-color: #f29200;
}

.form-check-input {
  font-size: 3rem;
  width: 20px;
  height: 20px;
}

@media print, screen and (min-width: 40em) {
  p {
    font-size: 2rem;
  }
  h1 {
    font-size:8rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .meta-info p {
    padding: 20px 0;
  }
  header p {
    padding: 20px 0;
  }
  .question {
    padding-bottom: 20px;
    font-size: 3rem;
  }
  .radio-button {
    padding-bottom: 50px;
  }
}
